* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ff004f;
    --second-color: #fff;
}

body {
    background: #000000;
    color: #fff;
}

.container {
    padding: 10px 10%;
}

.change-text {
    font-weight: 600;
    color: var(--primary-color);
    animation: fadeIn 10s;
    font-size: 1.5rem;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    display: flex;
    position: absolute;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center cennter 25px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.profile {
    float: right;
    margin-right: 40px;
}

.profile img {
    border: 40px;
    border-radius: 120px;
}

.header-text {
    font-size: 30px;
    margin-top: 4px;
}

.header-text hr {
    width: 17%;
    border: solid var(--primary-color);
    opacity: 70%;
    border-width: 2px;
    margin-bottom: 1rem;
    margin-top: 12px;
    margin-left: 4px;
    animation: slideLeft 1.8s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.header-text p {
    animation: slideTop 1.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header-text h1 {
    font-size: 40px;
    animation: slideTop 1.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header-text h1 span {
    color: var(--primary-color);
}

.header-text h2 {
    font-size: 24px;
    letter-spacing: 6px;
    margin-left: 0;
    animation: slideTop 1.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.header-text h2 span {
    color: var(--primary-color);
}

.header-text button {
    font-size: 20px;
    margin: 14px 3px;
    border-radius: 28px;
    padding: 13px;
    width: 240px;
    background-color: var(--primary-color);
    border: none;
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

.header-text button:hover {
    background-color: #800404;

}

.header-text button a {
    color: var(--second-color);
    font-weight: 600;
    text-decoration: none;
}

/* ------ About --------- */
#about {
    color: #ababab;
    padding: 40px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.about1 img {
    width: 93%;
    height: 88%;
    border-radius: 9%;
}

.about2 {
    flex-basis: 85%;
}

.sub {
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 60px;
}

.sub span {
    color: var(--primary-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    display: none;
}

.tab-contents ul li {
    list-style: none;
    margin: 16px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents.active-tab {
    display: block;
}

/* skills */
.skills {
    background: #262626;
    margin-top: -65px;
}

.sub2 {
    text-align: center;
    padding: 20px;
    line-height: 32px;
}

.sub2 span {
    color: #717171;
    font-size: 13px;
    line-height: 34px;
}

.sub2 h2 {
    color: var(--primary-color);
    font-size: 35px;
    margin-bottom: 50px;
}

.main-skill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    padding: 0 10%;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.main-skill h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: #250821;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 .5rem #ff1212;
}

.skill-bar .bar .one {
    width: 80%;
    animation: html 2s;
}

.skill-bar .bar .two {
    width: 51%;
    animation: css 3s;
}

.skill-bar .bar .three {
    width: 35%;
    animation: javascript 4s;
}

.skill-bar .bar .four {
    width: 75%;
    animation: figma 5s;
}

@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes css {
    0% {
        width: 0;
    }

    100% {
        width: 51%;
    }
}

@keyframes javascript {
    0% {
        width: 0;
    }

    100% {
        width: 35%;
    }
}

@keyframes figma {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    position: relative;
    flex: 1 1 15rem;
}

.box .kata {
    text-align: center;
    color: var(--second-color);
    font-size: 1rem;
}

.box .kata big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-46%, -50%);
}

.box .kata small {
    display: block;
    font-weight: 600;
    line-height: 17px;
}

.circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points {
    width: 2px;
    height: 10px;
    background-color: #250821;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);

}

.points.marked {
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

@keyframes glow {
    0% {
        background: #250821;
        box-shadow: none;
    }

    100% {
        background: var(--primary-color);
        box-shadow: 0 0 .5rem var(--primary-color);
    }
}

/* --------- Services --------- */
#services {
    padding: 50px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: var(--primary-color);
    transform: translateY(-1px);
}

/* --------- Portfolio --------- */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a i {
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid var(--primary-color);
    padding: 14px 45px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgroud 0.5s;
}

.btn:hover {
    background: var(--primary-color);
}

/* Project */
#moreText {
    display: none;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.photos {
    max-width: 330px;
    position: relative;
    margin: auto;
    padding: auto;
    max-height: 280px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.prev {
    left: -13%;
}

.next {
    position: absolute;
    color: var(--primary-color);
    right: -7%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-responsive {
    /* matches 'btn-md' */
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* @media (max-width:760px) {
    .btn-responsive {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  } */
.active,
.dot:hover {
    background-color: var(--primary-color);
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* --------- Contact --------- */
#contact {
    display: flex;
}

.contact-left {
    flex-basis: 35%;
    margin-top: 15px;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: var(--primary-color);
    margin-right: 15px;
    font-size: 25px;
}

.social {
    margin-top: 30px;
}

.social a i {
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    background: #000000;
}

.social a i:hover {
    color: var(--primary-color);
    transform: translateY(-5px);
}

.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}

.btn.btn2 {
    display: inline-block;
    background: var(--primary-color);
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: var(--second-color);
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    position: absolute;
}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}


/* Animation */
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);

        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* @keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
} */
/* --------- css for small screen --------- */
/* .container nav i {
    display: none;
}

 @media only screen and (max-width: 600px) {

    .header-text,
    .change-text {
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .container i {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: -59px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li {
        display: flex;
        margin: 25px;
    } 

} */

